---
- name: create database '{{ moodlebox_moodle_db }}' for Moodle
  mysql_db:
    name: "{{ moodlebox_moodle_db }}"
    state: "present"
    config_file: /etc/mysql/debian.cnf
  register: moodle_db_created

- name: format release date using locales
  command: "date --date={{ moodlebox_release_date }} '+%-d %B %Y'"
  environment:
    - LC_ALL: "{{ item.1 }}"
  with_indexed_items: "{{ moodlebox_locales }}"
  changed_when: false
  register: "formatted_dates"
  when: "formatted_dates is not defined or item.0 < moodlebox_locales|length"

- name: set vars with formatted dates
  set_fact: '{{ item.0 | regex_replace("^(.*)_.*UTF-8$", "moodlebox_release_date_\1") }}={{ item.1.stdout }}'
  with_together:
    - "{{ moodlebox_locales }}"
    - "{{ formatted_dates.results }}"

- name: set summary string with formatted dates
  set_fact:
    moodlebox_moodle_summary: "{{ moodlebox_moodle_summary }}"

- name: get Moodle version '{{ moodlebox_moodle_branch }}' from git repository
  git:
    repo: "git://git.moodle.org/moodle.git"
    version: "{{ moodlebox_moodle_branch }}"
    dest: "{{ moodlebox_moodle_source_dir }}"
    depth: 1

- name: create Moodle data and cache directories and set adequate permissions
  file:
    path: "{{ item }}"
    state: "directory"
    owner: "www-data"
    group: "{{ moodlebox_username }}"
    mode: "ug+w,o-w"
    recurse: "yes"
  with_items:
    - "{{ moodlebox_moodle_source_dir }}"
    - "{{ moodlebox_moodle_data_dir }}/repository"
    - "{{ moodlebox_moodle_data_dir }}/temp"
    - "{{ moodlebox_moodle_data_dir }}/backup"
    - "{{ moodlebox_moodle_data_dir }}/repository/files"
    - "/var/cache/moodle"
    - "/var/cache/moodle-cache-backup"

- name: set sticky bit for moodledata directory
  file:
    path: "{{ moodlebox_moodle_data_dir }}"
    state: "directory"
    mode: "g+s"
    recurse: "yes"

- name: configure temporary storage for Moodle cache
  mount:
    path: "{{ item.name }}"
    src: "tmpfs"
    fstype: "tmpfs"
    opts: "size={{ item.size }},mode=775,uid=www-data,gid=www-data"
    dump: "0"
    passno: "0"
    state: "mounted"
  with_items:
    - { name: "/var/cache/moodle", size: "64M" }
    - { name: "{{ moodlebox_moodle_data_dir }}/temp", size: "64M" }
    - { name: "{{ moodlebox_moodle_data_dir }}/sessions", size: "16M" }

# https://github.com/HCPSS/ansible-role-moodle/blob/master/tasks/install.yml
- name: install Moodle via CLI
  command:
    '/usr/bin/php "{{ moodlebox_moodle_source_dir }}/admin/cli/install.php"
    --lang="{{ moodlebox_moodle_lang }}"
    --wwwroot="https://{{ moodlebox_hostname }}.{{ moodlebox_tld }}"
    --dataroot="{{ moodlebox_moodle_data_dir }}"
    --dbtype="mariadb"
    --dbname="{{ moodlebox_moodle_db }}"
    --prefix="{{ moodlebox_moodle_db_prefix }}"
    --dbuser="{{ moodlebox_db_username }}"
    --dbpass="{{ moodlebox_db_password }}"
    --fullname="{{ moodlebox_moodle_name }}"
    --shortname="{{ moodlebox_moodle_name }}"
    --summary="{{ moodlebox_moodle_summary }}"
    --adminuser="{{ moodlebox_moodle_username }}"
    --adminpass="{{ moodlebox_moodle_password }}"
    --adminemail="{{ moodlebox_moodle_username }}@{{ moodlebox_hostname }}.invalid"
    --non-interactive
    --allow-unstable
    --agree-license'
  args:
    chdir: "{{ moodlebox_moodle_source_dir }}"
    creates: "{{ moodlebox_moodle_source_dir }}/config.php"

- name: write extra parameters to the Moodle config file
  lineinfile:
    path: "{{ moodlebox_moodle_source_dir }}/config.php"
    line: "$CFG->{{ item.name }} = {{ item.value }};"
    insertbefore: '^\$CFG->directorypermissions'
  with_items:
    - name: "backuptempdir"
      value: "'{{ moodlebox_moodle_data_dir }}/backup'"
    - name: "xsendfile"
      value: "'X-Accel-Redirect'"
    - name: "xsendfilealiases"
      value: "array('/dataroot/' => $CFG->dataroot)"
    - name: "customfiletypes"
      value: "array(\n  (object)array(\n    'extension' => 'crt',\n    'icon' => 'sourcecode',\n    'type' => 'application/x-x509-ca-cert',\n    'customdescription' => 'X.509 CA certificate'\n  )\n)"
    - name: "showcampaigncontent"
      value: "false"
    - name: "preventexecpath "
      value: "true"
    # - name: "session_redis_host"
    #   value: "127.0.0.1"
    # - name: "session_redis_port"
    #   value: "6379"
    # - name: "session_redis_database"
    #   value: "0"
    # - name: "session_redis_prefix"
    #   value: "mdl-msrpi"
    # - name: "session_redis_acquire_lock_timeout"
    #   value: "120"
    # - name: "session_redis_lock_expire"
    #   value: "7200"
    # - name: "session_redis_serializer_use_igbinary"
    #   value: "true"

- name: set Moodle config file owner, group and permissions
  file:
    path: "{{ moodlebox_moodle_source_dir }}/config.php"
    owner: "www-data"
    group: "www-data"
    mode: "0600"

- name: get MathJax library version '{{ moodlebox_mathjax_version }}' from git repository
  git:
    repo: "git://github.com/mathjax/MathJax.git"
    dest: "{{ moodlebox_moodle_source_dir }}/lib/MathJax"
    version: "{{ moodlebox_mathjax_version }}"
    depth: 1

- name: change MathJax library file permissions
  file:
    path: "{{ moodlebox_moodle_source_dir }}/lib/MathJax"
    state: "directory"
    owner: "www-data"
    group: "www-data"
    mode: "ug+w,o-w"
    recurse: "yes"
