---
- name: Ensure SSL NGINX directory exists
  file:
    name: /etc/nginx/ssl
    state: directory
    mode: 0755

- name: "Ensure {{ moodlebox_certbot_dir }} directory exists"
  file:
    path: "{{ moodlebox_certbot_dir }}/etc"
    state: directory
    mode: 0755

- name: Copy cf.ini into etc folder
  template:
    src: cf.ini.j2
    dest: "{{ moodlebox_certbot_dir }}/etc/cf.ini"
    mode: 0700
    owner: root
    group: root

- name: Create `docker-cert-moodlebox.sh` SH script for obtaining and installing certs
  template:
    src: docker-cert.sh.j2
    dest: "{{ moodlebox_certbot_dir }}/docker-cert-moodlebox.sh"
    mode: 0700
    owner: root
    group: root

- name: Execute previously-copied SH script
  shell:
    chdir: "{{ moodlebox_certbot_dir }}"
    cmd: ./docker-cert-moodlebox.sh certonly
  register: moodlebox_cert_check
  check_mode: false
  changed_when: >-
    moodlebox_cert_check.stdout.find('Certificate not yet due for renewal; no action taken') == -1
  args:
    executable: /bin/bash

- name: Create a cronjob to automatically renew the cert
  cron:
    name: ACME Let's Encrypt @MoodleBox
    special_time: daily
    user: root
    job: "{{ moodlebox_certbot_dir }}/docker-cert-moodlebox.sh certonly >> /var/log/cronjob-ansible_docker-cert-moodlebox.log 2>&1"
    cron_file: ansible_docker-cert-moodlebox
